body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-color: ghostwhite;
}

body {
    margin-left: 4%;
    margin-right: 4%;
}

main {
    padding-bottom: 5%;
}
footer{
    padding-bottom: 3%;
}

li {
    list-style-type: none;
    font-size: 100%;
}

header {
    margin: 0px;
    margin-right: -4%;
    margin-left: -4%;
    width: 100%;
    z-index: 3;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    background-color: white;
}

h1, h2, h3, p {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
}

h1 {
    color: green;
    font-size: 175%;
}

p, td {
    font-size: 20px;
}

.websitenavigator {
    float: right;
    margin: 0px 50px 0px 0px;
}

.websitenavigator ul li {
    float: left;
    margin-right: 16px;
}

.websitenavigator ul li:hover {
    margin-top: 5px;
}

.websitenavigator ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab';
}

#introduction {
    margin-top: 75px;
}

#documentation {
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
}

#documentation h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    width: 50%; /* Fixed width to keep the table centered */
    margin: 20px auto; /* Centering the table */
    border-collapse: collapse;
    position: relative;
    margin-top: 50px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

.basicSwitch-container, .moderationSwitch-container {
    position: absolute;
    top: -30px;
    left: 10px;
    display: flex;
    align-items: center;
}

.basicSwitch, .moderationSwitch {
    width: 50px;
    height: 24px;
    margin-right: 10px;
    position: relative;
}

.basicSwitch input, .moderationSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.basicSlider, .moderationSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.4s;
}

.basicSlider:before, .moderationSlider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .basicSlider {
    background-color: #2196F3;
}

input:checked + .moderationSlider {
    background-color: #2196F3;
}

input:checked + .basicSlider:before {
    transform: translateX(26px);
}

input:checked + .moderationSlider:before {
    transform: translateX(26px);
}

.hidden {
    display: none;
}

#basicToggleLabel, #moderationToggleLabel {
    font-size: 16px;
    font-weight: normal;
}
